.contact{
    .info-box{
        // color:#444444;
        color: gray;
        padding:20px;
        width:100%;
        background:rgba(255, 255,255, 0.08)
    }

    background-color: black;
    color: gray;
    
}