.col1{
    animation: goody .3s easy-in-out both;
}


@keyframes goody{

    0%{
        opacity:0;
        transform:scale(0);
    }

    100%{
        opacity:1;
        transform: scale(1);
    }
}