
.navbar{
    .shy{
      
        font-style: ğ•Šğ•™ğ•ªğ•‹ğ•–ğ•”ğ•™ğ•Ÿğ• ğ•ğ• ğ•˜ğ•ª;
    }

    .nav-item{

        a{
            color:black;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                color:yellow;
                background-color: black;
            
            }
        }
    }

    a{
        color:black;
        font-weight: bold;
    }
   
}

.main{
        background-image: url(../img/no-bg.png);
        background-size:contain;
        background-position:right;
        background-repeat: no-repeat;
        background-color: rgb(39,34,30);
        width: 100%;
        height: 100vh;
        margin-right: 100rem;

        .flex{
            display: flex;
            align-items: center;
            padding-left: 100px;
                

            .col2{
                padding-left: 400px;
                padding-top: 40px;
                z-index: 100;
                h6{
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: white;
                    list-style: 1;
                    z-index: 200;
                    border-bottom: 3px solid rgb(231, 216, 9);
                    

                }
                
            }

        }
  
.col1{
    h3{
        font-size: 2.2rem;
        font-weight: 700;
    }
}

.goodluck{
    color: rgb(247, 246, 238);
}

}



