#soc-twitter{
    width:60px;
    height: 40px;
    color:white;
}

.icon:hover {
    fill: #DA4567;
    cursor: pointer;
  }
  

#soc-instagram{
    width:60px;
    height: 40px;
    color:white;

}

#soc-youtube{
    width:60px;
    height: 40px;
    color:white;
}

#ic{
    width:60px;
    height: 40px;
    color:white;

}


