*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
    color: black;
}

h3,h6{
    color: gray;
}


.btn1{
    height:55px;
    width: 138px;
    background-color: rgb(231, 216, 9);
    color:rgb(10, 10, 10);
    outline:none;
    border:none;
    font-weight: bold;
    border-radius: 5px;

    &:hover{
        background-color: rgb(53, 50, 6);
        color:rgb(231, 216, 9);
        transition: 0.5s;

    }

}

.btn2{
    height:55px;
    width: 138px;
    background-color: transparent;
    color:rgb(231, 216, 9);
    outline:none;
    border:1px solid rgb(231, 216, 9);
    font-weight: bold;
    border-radius: 5px;
    margin-left: 1rem;

    &:hover{
        background-color: rgb(214, 211, 168);
        color: black;
        transition: 0.5s;

    }

}

.icon{
    background-color: transparent;
    color:white
    
}


